<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./styles/style.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href='/images/favicon.ico'>
    <title>NBA TEAMS</title>
</head>
<body class="bg-red-600">
    <!-- NavBar Partial -->
    <%- include('./partials/nav.ejs') %>
    <div class="flex flex-row flex-wrap justify-start mx-8 my-8">
    <% for(let player of allPlayers){ %>
      <div class="flex flex-col items-center mx-8 my-3 max-w-sm bg-white rounded overflow-hidden shadow-lg" style="width: 27em; height: 30em;">
        <img class="my-3 " src="<%=player.image%>" alt="Sunset in the mountains" style="width: 14em; height: 14em;">
        <div class="px-6 py-4">
          <h5 class="mx-2 text-gray-900 text-xl font-medium mb-2 my-1"><strong>Team: <%=player.name%></strong></h5>
                <p class="mx-2 text-gray-900 text-xl font-medium mb-2 my-1"><strong>Year formed: <%=player.formation%></strong></p>
                <p class="mx-2 text-gray-900 text-xl font-medium mb-2 my-1"><strong>Championships: <%=player.championships%></strong></p>
                <p class="mx-2 text-gray-900 text-xl font-medium mb-2 my-1"><strong>Stadium: <%=player.stadium%></strong></p>
        </div>
        <div class="items-center px-6 pt-4 pb-2">
          <button class="mx-5 my-5 bg-red-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
            <a class="nav-link active" aria-current="page" href="/<%=player._id%>"><strong>View details</strong></a>
          </button>
          
        </div>
      </div> 
    <% } %>
    </div>
       
</body>
</html>